.services{
    width: 100%;
    min-height: 100vh;
    
    .container{
        .title{
            font-size: 20px;
        }

        .servicesBox{
            width: 100%;
            padding: 0 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .servicesCard{
                width: 540px;
                height: 700px;
                border: 1px solid #00000050;
                border-radius: 5px;
            }
        }
    }
}